.about, .experience, .projects, .footer {
    padding-right: 2rem;
    font-kerning: none;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.about {
    height: 22rem;
    font-size: 1rem;
    top: 0;
    line-height: 1.625;
    opacity: .85;
}

.experience {
    height: 42rem;
    top: 0;
    box-sizing: border-box;
    list-style-type: none;
    overflow: hidden;
    background: transparent;
}

.projects {
    height: 30rem;
    padding-top: .9rem;
}

.experience h1,
.experience h2,
.projects h1 {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.1rem;
}
  
.experience h1,
.projects h1 {
    float: left;
}

.experience h2 {
    float: right;
}

.experience br,
.projects br {
    clear: both;
}

.experience p,
.projects p {
    margin: 0;
    padding: 0;
    clear: both;
    padding-top: .5rem;
    line-height: 1.45;
    font-size: .875rem;
    opacity: .85;
}

.experience ul,
.projects ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
    padding-right: 3.5rem;
    padding-bottom: 3rem;
}

.experience li,
.projects li {
    border: 1px solid none;
    background-color: rgb(26, 82, 84);
    color: rgb(43, 247, 254);
    font-size: .95rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.experience a {
    text-decoration: none;
    font-size: 1.2rem;
}

.footer {
    height: 5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-right: 10rem;
    font-size: .875rem;
    opacity: .85;
}

.footer a,
.experience a {
    text-decoration: none;
    color: rgb(36, 201, 207, 1);
    transition: color 0.25s;
}

.footer a:visited,
.experience a:visited { 
    text-decoration: none;
    color: rgb(36, 201, 207);
}

.footer a:hover,
.experience a:hover {
    text-decoration: none;
    color: rgb(122, 251, 255);
}