.icons {
    padding-top: 6rem;
    width: 100%;
 }

 .icon,
 .cat_icon {
     float: left;
     text-decoration: none;
     color: #646464;
     font-size: 30px;
     margin-top: 4rem;
     padding-right: 1rem;
     transition: color .25s;
 }

 .cat_icon {
    color: transparent;
}

 .icon:hover,
 .cat_icon:hover {
    color: rgb(202, 202, 202);
 }