.flexbox {
    display: flex;
}

.left_panel,
.right_panel {
    position: sticky;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: transparent;
    box-sizing: border-box;
    overflow-y: auto;
}

.left_panel {
    height: 100%;
    padding-top: 3%;
    padding-left: 12%;
    left: 0;
    z-index: 999;
}

.left_panel h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
}

.left_panel h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.left_panel p {
    opacity: .6;
}

.right_panel {
    position: sticky;
    right: 0;
    padding-top: 4%;
    padding-right: 5vw;
}

.sections {
    padding: 4rem 0 4rem;
}

@media screen and (max-width: 950px) {
    .sections {
        padding: 1% 0 1%;

    }
}

.sections li {
    list-style-type: none;
    padding-top: .8rem;
}

.sections a,
.sections a:visited {
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 1px;
    transition: padding-left 0.2s;
    color: #739072;
}

.sections a:hover {
    padding-left: 1rem;
    text-decoration: none;
    color: #4F6F52;
}

@media screen and (max-width: 950px) {
    .left_panel {
        width: 45vw;
    }
    .right_panel {
        width: 55vw;
    }
}

@media screen and (max-width: 950px) {
    .flexbox { 
        display: block;
    }
    .left_panel, .right_panel {
        padding-left: 2%;
        padding-right: 5%;
        width: 100vw;
        position: static;
    }
}
